{% extends 'base.html.twig' %}

{% block title %}Tache index{% endblock %}

{% block content %}

<style>
    .lignecoloree {
        background-color:red;
    }
    .lignenormale {
        background-color:blue;
    }
</style>


    <h1>Suivi des Tache</h1>

    <table class="table table-bordered table-hover">
        <thead class="thead-light table-hover">
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Description</th>
                <th>Destinataire</th>
                <th>NumDa</th>
                <th>NumBc</th>
                <th>NumFac</th>
                <th>Fichier</th>
                <th>DateExecution</th>
                <th>Statut</th>
                <th>Commentaire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>

        {% for tache in taches %}
            <tr class="table-{% if tache.statut.description == "Execute" %}success{% elseif tache.statut.description == "Annulé" %}danger{% else %}warning{% endif %}">
                <td>{{ tache.id }}</td>
                <td>{{ tache.createdAt ? tache.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                <td>{{ tache.description }}</td>
                <td>{{ tache.employe.description }}</td>
                <td>{{ tache.numDa }}</td>
                <td>{{ tache.numBc }}</td>
                <td>{{ tache.numFac }}</td>
                <td><a href="">{{ tache.filename }}</a></td>

                <td>{{ tache.dateExecution ? tache.dateExecution|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ stats.entrees }}</td>
                <td>{{ tache.commentaire }}</td>
                <td>
                    <a href="{{ path('app_tache_show', {'id': tache.id}) }}">show</a>
                    <a href="{{ path('app_tache_edit', {'id': tache.id}) }}">edit</a>
                    <a href="{{ path('app_tache_delete', {'id': tache.id}) }}">delete</a>
                </td>
            </tr>
            
            
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tache_new') }}">Create new</a>
{% endblock %}
