{% extends 'base.html.twig' %}

{% block title %}Statut{% endblock %}

{% block content %}
    <h1>Statut</h1>

    <table class="table table table-bordered table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ statut.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ statut.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_statut_index') }}">back to list</a>

    <a href="{{ path('app_statut_edit', {'id': statut.id}) }}">edit</a>

    {{ include('statut/_delete_form.html.twig') }}
{% endblock %}
